__pycache__/
.ipynb_checkpoints/
.env
*.csv
*.xlsx
*.pbix
.vscode/
.idea/

# Raw datasets

data/raw/*.csv

# Cleaned datasets
data/cleaned/*.csv

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment
.env